.header {
    background-color: #141850;
    height: 60px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.header a {
    color: #fae5df;
    text-decoration: none;
    font-size: 30px;
}

.header a[class='active'] {
    color: #ed7966;
}

body {
    padding: 0;
    margin: 0;
}
