.spaceship{
    width: 170px;
    border: 2px solid navy;
    margin-bottom: 5px;
    padding: 5px;
}

.spaceship_img{
    padding: 5px 35px;
}

.spaceship img{
    width: 100px;
}

.spaceship_up{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
